{
	"presets": [
		["@babel/preset-env", {
			"modules": "commonjs",
			"corejs": 3,
			"useBuiltIns": "usage",
			"targets": {
				"node": "6",
				"chrome": "40",
				"firefox": "40",
				"ie": "10",
				"edge": "12"
			}
		}],
		"@babel/preset-react"
	],
	"plugins": [
		"@babel/plugin-proposal-class-properties"
	],

	"env": {
		"module": {
			"presets": [
				[
					"@babel/preset-env",
					{
						"modules": false,
						"corejs": 3,
						"useBuiltIns": "usage",
						"targets": {
							"node": "6",
							"chrome": "40",
							"firefox": "40",
							"ie": "10",
							"edge": "12"
						}
					}
				],
				"@babel/preset-react"
			],
			"plugins": [
				"@babel/plugin-proposal-class-properties"
			]
		}
	}
}
