{
	"presets": [
		["env", {
			"targets": {
				"node": "6",
				"chrome": "40",
				"firefox": "40",
				"ie": "10",
				"edge": "12"
			}
		}],
		"react"
	],
	"plugins": [
		"syntax-decorators",
		"transform-runtime",
		"transform-class-properties",
		"transform-decorators-legacy"
	]
}
